<form action="/horarios/add" method="POST">

  <div>
    <label for="paciente">Agrega un paciente</label>

    <input type="text" name="horario" placeholder="paciente" />
  </div>

  <div>
    <label for="horario">Agrega un paciente</label>

    <input type="text" name="paciente" placeholder="horario" />
  </div>

  

  <button>
    Agregar
  </button>

</form>